RDBMS=mysql
DB_CONNECT=on
DBHOST=localhost
DBNAME=api_tt
DBPORT=3306
DBUSER=dev
DBPASS=devpcdigital
DB_CHARSET='utf8mb4'
DB_TRANSACTIONAL=off
DB_WORK_AROUND_FACTOR=0
CACHE_DB_METADATA=off
APPLICATION_NAME=Teste-Tecnico-Api
DEFAULT_ROUTE=/site/home
DEFAULT_TIMEZONE=UTC-3
HANDLE_ERROR_TYPES=E_ALL
APPLICATION_LOG=off
PRIVATE_KEY=
PUBLIC_KEY= 
ALLOW_CORS=on
MAX_LOG_ENTRIES=0
MAINAPP_PATH=/application
MODULES_PATH=/modules
APP_ENV=development